body {
	margin: 0em auto;
	padding: 0.75em;
	max-width: 50em;
	font-family: sans-serif;
	line-height: 1.5;
}
.card-wrapper {
	text-align: center;
}
.card {
	display: inline-block;
	vertical-align: top;
	padding: 1.5em;
	margin: 0.75em;
	width: 9em;
	height: 9em;
	background-color: #88ccff;
	text-align: center;
}
.card img {
	width: 60%;
}
.card p {
	font-size: 1.5em;
	margin: 0em;
}
.highlight {
	background-color: #88ffcc;
	padding: 0.75em 1.5em;
}
footer {
	font-size: 0.75em;
	line-height: 2;
}
h1 {
	text-align: center;
	font-size: 3em;
	margin: 0.5em 0em;
}
h2 {
	font-size: 1.5em;
	margin: 0.5em 0em;
}
a {
	text-decoration: none;
}
p, ul {
	margin: 0.75em 0em;
}